.chat-container {
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    height: 100vh;
    background: #ecf0f1;
  }
  
  /* Fixed Header */
  .chat-header {
    display: flex;
    align-items: center;
    width: 100%;
    background: #ffffff;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 290px;
    /* right: 250px; */
    z-index: 1000;
  }
  
  /* Scrollable Chat Body */
  .chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  /* Chat Message Styles */
  .chat-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .sent {
    align-self: flex-end;
    background-color: #2ecc71;
    color: white;
  }
  
  .received {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: black;
  }
  
  /* Fixed Input Section */
  .chat-input-section {
    display: flex;
    flex-direction: column;
    width: 45.5%;
    padding: 3px; 
    background: white;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    /* right: 250px; */
    left: 290px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .chat-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 40px; /* Initial height */
  max-height: 150px;
    width:90%;
    border: 1px solid #ddd;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    resize: none;
    overflow-y: auto;
  }
  .chat-input::-webkit-scrollbar {
    display: none;
  }
.submit{
  display: flex;
  flex-direction:row;
  align-items: right;
  gap: 45%;
}
  
  .send-button {
    display: flex;
    align-items: center;
    gap: 8px; 
    padding: 10px 15px;
    border: none;
    background: transparent;
    border: none;
    color: #464b50;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .send-icon {
    width: 17px;  
    height: 12px;
  }
  
  .backarrow{
    width: 10px;  
    height: 6px;
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2px;
    gap: 1px; 
    border-radius: 20px;
    border: none;
  }
  
  .toolbar-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .toolbar-btn:hover img {
    opacity: 0.7;
  }
  
  .toolbar-icon {
    width: 12px;  
    height: 13px;
  }
  
  .divider {
    width: 1px;
    height: 20px;
    background: #ccc;
    margin: 0 10px;
  }
  
  