/* .right-panel {
    background: #f4f4f4;
    margin-top: 20px;
    padding: 10px;
    position: fixed;
    border-radius: 4px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1000;
  }
   */
  /* .right-panel {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  } */
  .right-panel h4 {
    margin-bottom: 30px;
    margin-top: 70px;
  }
  .priority-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  thead{
    tr{
      border-bottom: 1px solid #ddd;
    }
  }
  th, td {
    padding: 8px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
    white-space: normal;
    word-wrap: break-word;
  }
  
  .urgent { color: red; }
  .high { color: orange; }
  .medium { color: green; }
  .low { color: gray; }
  /* th, td {
    border: 1px solid #ddd;
    padding: 8px ;
    text-align: left;
  }
  
  th {
    background:  #f5f5f5;
    
  }
  
  tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  tr:hover {
    background: #e0e0e0;
  } */
  