.app-container {
  display: flex; /* Align all child divs in a row */
  width: 100vw;  /* Full viewport width */
  height: 100vh; /* Full viewport height */
  min-height: 100vh; /* Ensures it covers the full screen */
  overflow: hidden; /* Prevents scrolling */
  flex-grow: 1; /* Ensures content expands dynamically */
}


/* Sidebar - Fixed Left */
.sidebar {
  width: 270px;
  background: #e9f0f9;
  color: rgb(4, 4, 4);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto; 
  border-radius: 8px;
}

/* Main Chat Section */
/* .main-content {
  flex: 1; 
  margin-left: 220px; 
 
  display: flex;
  flex-direction: column;
} */

/* Right Panel - Fixed Right */
/* .right-panel {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: -1;
} */

/* .right-panel {
  height: 100vh;
  width: 500px;
  background: #f4f4f4;
  
  padding: 20px;
  position: fixed;
  border-radius: 4px;
  right: 0;
  top: 0;
  bottom: 0;
 
} */
