.app-container {
  display: flex;  /* Align all divs in a row */
  height: 100vh;
  overflow: hidden;
}

/* Sidebar - Fixed Left */
.sidebar {
  width: 250px;
  background: #e9f0f9;
  color: rgb(4, 4, 4);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

/* Main Chat Section */
.main-content {
  flex: 1; 
  margin-left: 250px; 
  margin-right: 250px; 
  display: flex;
  flex-direction: column;
}

/* Right Panel - Fixed Right */
.right-panel {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: -1;
}
